/* * --Header-- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: dimgray;
    color: white;
    padding: 1%;
}

/* Header nav-bar */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 125%;
    padding: 0 15px;
}

header nav a:hover {
    color: wheat;
}

/* --Main-- */
/* --Article-- */
article {
    padding: 1%;
    border-bottom: 1px solid midnightblue;
}

article img {
    max-height: 500px;
    max-width: 250px;
    margin: 0px 30px 30px 0px;
}

article h2 {
    padding: 0 20px;
}

article div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article figcaption {
    padding: 10px 10px;
    margin-bottom: 30px;
    max-width: 1000px;
    border: 2px solid midnightblue;
    border-radius: 15px;
    font-size: 125%;
}


/* --Projects-- */
.Projects {
    border-bottom: 1px solid midnightblue;
}

.Projects h2 {
    padding: 0 20px;
}

.Projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

/* Container */
.Container {
    position: relative;
}

/* span */
.span {
    position: absolute;
    left: 0px;
    bottom: 25px;
    color: white;
    font-size: 200%;
    background-color: dimgray;
}

/* big_img */
.big_img {
    border: 5px solid dimgray;
    max-height: 400px;
    max-width: 400px;
}

.big_img:hover {
    opacity: 0.6;
}

/* coming_soon */
.coming_soon {
    border: 5px solid dimgray;
    max-height: 250px;
    max-width: 250;
}

.coming_soon:hover {
    opacity: 0.6;
}



/* --ContactMe-- */
.ContactMe h2 {
    text-align: center;
}

section {
    padding: 1%;
}

section nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid midnightblue;
    border-radius: 15px;
    padding: 10px 0;
}

section nav a {
    font-weight: bold;
    line-height: 2.0;
}


/* --Footer-- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: white;
}

@media screen and (max-width: 1000px) {
    header {
        background-color: midnightblue;
        color:paleturquoise
    }
    header nav a {
        color:paleturquoise
    }
    header nav a:hover {
        color:white
    }

    .big_img {
        border-color: midnightblue;
    }
    .coming_soon {
        border-color: midnightblue;
    }
    .span {
        background-color: midnightblue;
    }

    footer {
        background-color: midnightblue;
        color:paleturquoise
    }
}
    

@media screen and (max-width: 768px) {
    article div {
        flex-direction: column;
        align-items: center;
    }
}