/* * --Header-- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: dimgray;
    color: white;
    padding: 1%;
}

/* Header nav-bar */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 125%;
    padding: 0 15px;
}

header nav a:hover {
    color: wheat;
}

/* --Main-- */
/* --Article */
article {
    padding: 1%;
    border-bottom: 1px solid midnightblue;
    max-height: 600px;

}

article img {
    height: 500px;
    width: 250px;
    align-self: flex-start;
}

article h2 {
    padding: 0 20px;
}

article div {
    display: flex;
}

article figcaption {
    margin: 100px 50px 180px 70px;
    padding: 0px 10px;
    border: 2px solid midnightblue;
    border-radius: 15px;
}

article p {
    font-size: 115%;
}


/* --Projects-- */
.Projects {
    border-bottom: 1px solid midnightblue;
}

.Projects h2 {
    padding: 0 20px;
}

.Projects div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

/* Container */
.Container {
    position: relative;
}

/* span */
.span {
    position: absolute;
    left: 0px;
    bottom: 25px;
    color: white;
    font-size: 200%;
    background-color: dimgray;
}

/* big_img */
.big_img {
    border: 5px solid dimgray;
    height: 350px;
    width: 450;
}

.big_img:hover {
    opacity: 0.6;
}

/* coming_soon */
.coming_soon {
    border: 5px solid dimgray;
    height: 250px;
    width: 300px;
}

.coming_soon:hover {
    opacity: 0.6;
}



/* --ContactMe-- */
.ContactMe h2 {
    text-align: center;
}

section {
    padding: 1%;
}

section nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid midnightblue;
    border-radius: 15px;
    padding: 10px 0;
}

section nav a {
    font-weight: bold;
    line-height: 2.0;
}


/* --Footer-- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: white;
}