/* * --Header-- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: dimgray;
    color: white;
    padding: 1%;
}

/* Header nav-bar */
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 125%;
    padding: 0 15px;
}

header nav a:hover {
    color: wheat;
}

/* --Main-- */
/* --Article */
article {
    padding: 1%;
    border-bottom: 1px solid midnightblue;
}

article h2 {
    padding: 0 20px;
}

article p {
    font-size: 115%;
    padding: 0 20px;
}


/* --Projects-- */
.Projects {
    border-bottom: 1px solid midnightblue;
}

.Projects h2 {
    padding: 0 20px;
}


/* --ContactMe-- */
.ContactMe h2 {
    text-align: center;
}

section {
    padding: 1%;
}

section nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

section nav a {
    font-weight: bold;
    line-height: 2.0;
}


/* --Footer-- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: white;
}